<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/horizontal-menu.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
</head>
<body>
	 <div id="headerHolder">
     	<div th:replace="~{fragments/header :: myHeader}"></div>
     </div>
     <div id="bodyHolder">
     	<form action="#" th:action="@{/admin/addStaff}" th:object="${staff}" method="post">
	    <table>
		    <tr>
		    	<td>Student Name:</td>
		    	<td><input type="text" th:field="*{name}" /></td>
		    	<td>Date Of Birth</td>
		    	<td><input type="text" th:field="*{dob}" /></td>
		    </tr>
		    <tr>
		    	<td>Father's Name:</td>
		    	<td><input type="text" th:field="*{fatherName}" /></td>
		    	<td>Mother's Name:</td>
		    	<td><input type="text" th:field="*{motherName}" /></td>
		    </tr>
		     <tr>
		    	<td>Role</td>
		    	<td>
			    	<select th:field="*{role}" class="form-control" id="roleList">
					    <option value="0">select option</option>
					    <option th:each="option : ${roleList}" th:value="${option.roleName}" th:text="${option.roleName}"></option>
					</select>
				</td>
		    </tr>
		    <tr>
		    	<td>Username</td>
		    	<td><input type="text" th:field="*{userName}" /></td>
		    	<td>Password</td>
		    	<td><input type="text" th:field="*{password}" /></td>
		    </tr>
		    <tr>
		    	<td>Address Line1</td>
		    	<td><input type="text" th:field="*{lstAddr[0].addressLine1}" /></td>
		    	<td>Address Line2</td>
		    	<td><input type="text" th:field="*{lstAddr[0].addressLine2}" /></td>
		    </tr>
		    <tr>
		    	<td>City</td>
		    	<td><input type="text" th:field="*{lstAddr[0].city}" /></td>
		    	<td>Post code</td>
		    	<td><input type="text" th:field="*{lstAddr[0].postCode}" /></td>
		    </tr>
		    <tr>
		    	<td>State</td>
		    	<td><input type="text" th:field="*{lstAddr[0].state}" /></td>
		    	<td>Phone Number</td>
		    	<td><input type="text" th:field="*{lstAddr[0].phoneNumber}" /></td>
		    </tr>
		     <tr>
		     <td>Email</td>
		    	<td><input type="text" th:field="*{lstAddr[0].email}" /></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td><input type="submit" value="Submit" /></td>
		    	<td><input type="reset" value="Reset" /></td>
		    </tr>
	    </table>
    </form>
     </div>
     <div id="footerHolder">
    	<div th:replace="~{fragments/footer :: myFooter}"></div>
    </div>
</body>
</html>
