<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Header Fragment</title>
  </head>
  <body>
    <div class="myHeader" th:fragment="myHeader">
      <div class="logo">
        <img th:src = "@{/images/sun.jpg}" alt="logo" width="60px"/>
      </div>

		<!-- The navigation menu -->
<div class="navbar">
  <a  th:href="@{/}">Home</a>
  <div class="subnav">
    <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a  th:href="@{/}">School</a>
      <a  th:href="@{/}">Placements</a>
      <a  th:href="@{/}">Careers</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Students <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a  th:href="@{/admin/showStudentForm}">Add Student</a>
      <a  th:href="@{/students}">View Students</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Subjects <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a  th:href="@{/admin/showSubjectForm}">Add Subjects</a>
      <a  th:href="@{/subjects}">View Subjects</a>
      <a  th:href="@{/admin/updateSubject}">Remove Subject</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Staff <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a  th:href="@{/admin/addStaffForm}">Add Staff</a>
      <a  th:href="@{/staff}">View Staff</a>
      <a  th:href="@{/admin/updateStaff}">Remove Staff</a>
    </div>
  </div>
  <a  th:href="@{/}">Contact</a>
  <div sec:authorize="hasRole('ADMIN')">
  <div class="subnav">
    <button class="subnavbtn">Add Master Data <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
     <a  th:href="@{/admin/roles}">List Roles</a>
      <a  th:href="@{/admin/addRole}">Add Roles</a>
      <a  th:href="@{/admin/updateRole}">Update Roles</a>
    </div>
  </div>
  </div>
  	<div sec:authorize="isAuthenticated()" id="signoutHolder">
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
        <form th:action="@{/logout}" method="post" id="logoutForm">
            <input type="submit" value="Sign Out"/>
        </form>
  </div>
</div>
	
    
    </div>
  </body>
</html>