<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Header Fragment</title>
  </head>
  <body>
    <div class="myHeader" th:fragment="myHeader">
      <div class="logo">
        <img th:src = "@{/images/sun.jpg}" alt="logo" width="60px"/>
      </div>

		<!-- The navigation menu -->
<div class="navbar">
  <a  th:href="@{/}">Home</a>
  <div class="subnav">
    <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a  th:href="@{/}">School</a>
      <a  th:href="@{/}">Placements</a>
      <a  th:href="@{/}">Careers</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Students <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a  th:href="@{/showStudentForm}">Add Student</a>
      <a  th:href="@{/students}">View Students</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Subjects <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a  th:href="@{/showSubjectForm}">Add Subjects</a>
      <a  th:href="@{/subjects}">View Subjects</a>
      <a  th:href="@{/updateSubject}">Remove Subject</a>
    </div>
  </div>
    <div class="subnav">
    <button class="subnavbtn">Staff <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a  th:href="@{/addStaffForm}">Add Staff</a>
      <a  th:href="@{/staff}">View Staff</a>
      <a  th:href="@{/updateStaff}">Remove Staff</a>
    </div>
  </div>
  <a  th:href="@{/}">Contact</a>
</div>
	

      
    </div>
  </body>
</html>